/* Estilos generales */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: mediumorchid;
    color: #333;
    line-height: 1.6;
}

a {
    color: #3498db;
    text-decoration:double;
}

a:hover {
    text-decoration: underline;
}

/* Encabezado */
header {
    background-color: mediumorchid;
    color: white;
    padding: 60px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 3em;
    font-weight: 600;
}

header p {
    font-size: 1.5em;
    font-weight: 300;
}

/* Secciones */
section {
    padding: 60px 0;
}

.container {
    width: 230 rem;
    max-width: 1300px;
    margin: 0 auto;
}
.navegacion-principal{
    background-color:mediumpurple;
    display:block;
    flex-direction:row;
    /*align-items: center;*/
    justify-content: space-between;
}

.navegacion-principal a{
    /*background-color: var(--primario);*/
    color: var(--blanco);
    display: inline;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
}

.navegacion-principal a:hover{
    background-color:rebeccapurple;
}

.fondo{
    background-image: url(../img/codit.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 410px;
    position: relative;
    top: 0;
}
.contenido-fondo{
    position: absolute;
    background-color: rgba(0, 0, 0, .6);
    background-color: rgba(0, 0, 0, 62.5%);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2,p{
    color:white;
    text-align: center;  
}


/* Proyectos */

h3{
    color: white;
    font-size: 2.5em;
    text-align: center;
    font-family:'Poppins', sans-serif;;
     
}
.project p{
    color: black;
    text-align: center;
    font-family:'Poppins', sans-serif;;
     
}
.project-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.project {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 30%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}


.iconos{
    display: flex;
    justify-content: center;
    align-items: center;  
    text-align: center;
}

.img{
    background-image: url(../img/letras.webp) ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 410px;
    position: relative;
    top: 0;
    
}

.contact p {
    text-align: center;
    color: black;
}
.contact h4{
    text-align: center;
    font-size: 2.0em;
    color: white;
}

.contact a {
    font-weight: bold;
}

/* Footer */
footer {
    background-color: mediumpurple;
    color: white;
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin: 0;
}

@media(min-width: 480px){}

@media(min-width: 768px){}

@media(min-width: 1020){}

@media(min-width: 1120){}

